<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Contact</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">>

</head>
<body>
<h1>ПРИГЛАСИТЬ ЗАКЛАДЧИКА</h1>
<form th:action="@{/persons}" th:object="${person}" method="post">
    <label>ИМЯ: <input type="text" th:field="*{firstName}"/></label><br/>
    <label>ФАМИЛИЯ: <input type="text" th:field="*{lastName}"/></label><br/>
    <button type="submit">СОХРАНИТЬ</button>
</form>
<a th:href="@{/persons}">НАЗАД</a>
</body>
</html>
