<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>ТЫ КАЖИСЬ ЧТО-ТО СЛОМАЛ, ДРУЖИЩЕ</h1>
<p>ПОКА НЕ ПОЧИНИШЬ ПРИЛОЖКУ - НЕ ВЕРНЕШЬСЯ.</p>
<a th:href="@{/persons}">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
</body>
</html>
